<!doctype html>
<html lang="en">

  <head>
    <title>MoncayoWorkout &mdash; Web de Moncayo Workout</title>
    <link rel=“canonical” href=“https://moncayoworkout.sytes.net/” />
    <link rel = "icon" href = "static/images/moncayo.jpeg" 
        type = "image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,900|Source+Serif+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="static/css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3">
              <div class="site-logo">
                <a href="/"><img src="static/images/moncayo.jpeg" width="40"
                  height="40"></a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-primary site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-primary"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="/" class="nav-link">Home</a></li>
                  <li><a href="/entrenamientos" class="nav-link">Entrenamientos</a></li>
                  <li><a href="/progresiones" class="nav-link">Progresiones</a></li>
                  <li><a href="/contacto" class="nav-link">About/Contacto</a></li>
                  <!--<li><a href="services.html" class="nav-link">Services</a></li> -->
                  <!--<li><a href="blog.html" class="nav-link">Blog</a></li> -->
                  <!-- <li><a href="#" class="nav-link">Contacto</a></li> -->
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    
    <div class="site-section-cover">
      <div class="container">
        <div class="row align-items-center text-center justify-content-center">
          <div class="col-lg-6">
            <h1 class="text-white mb-4">Entrenamientos</h1>
            <p class="lead">En esta sección se subirán entrenamientos, para que puedan servir como guía para aquellos que quieran entrenar y no sepan como empezar o busquen algún tipo de entrenamiento concreto.<br><br>
            Niveles de entrenamiento:<br>
            Principiante<br>
            Intermedio(si tiene (++) es más duro)<br>
            Avanzado</p>
            
          </div>
        </div>
      </div>
    </div>


    <div class="site-section">
      <div class="container">
        <br>
        <h2 class="text-black mb-4">Principiante</h2>
        <br>
        <div class="row">
          {% for entreno in principiante %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="/single_train/{{ entreno[9] }}">
                {% if entreno[7]=="Estaticos\n" %}  
                <img src="static/Estaticos.jpg" alt="Image"
                 class="img-fluid">
                {% else %}
                <img src="static/Repes.jpg" alt="Image"
                 class="img-fluid">
                {% endif %}
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="/single_train/{{ entreno[9] }}">{{ entreno[0] }}</a></h2>
                <span class="meta d-inline-block mb-3">{{ entreno[1] }} <span class="mx-2">by</span> <a href="#">{{ entreno[2] }}</a></span>
                <p>Nivel: {{ entreno[3] }}</p>
                <p>{{ entreno[4] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <br>
        <h2 class="text-black mb-4">Intermedio</h2>
        <br>
        <div class="row">
          {% for entreno in intermedio %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="/single_train/{{ entreno[9] }}">
                {% if entreno[7]=="Estaticos\n" %}  
                <img src="static/Estaticos.jpg" alt="Image"
                 class="img-fluid">
                {% else %}
                <img src="static/Repes.jpg" alt="Image"
                 class="img-fluid">
                {% endif %}
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="/single_train/{{ entreno[9] }}">{{ entreno[0] }}</a></h2>
                <span class="meta d-inline-block mb-3">{{ entreno[1] }} <span class="mx-2">by</span> <a href="#">{{ entreno[2] }}</a></span>
                <p>Nivel: {{ entreno[3] }}</p>
                <p>{{ entreno[4] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <br>
        <h2 class="text-black mb-4">Intermedio(++)</h2>
        <br>
        <div class="row">
          {% for entreno in intermedio_plus %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="post-entry-1 h-100">
              <a href="/single_train/{{ entreno[9] }}">
                {% if entreno[7]=="Estaticos\n" %}  
                <img src="static/Estaticos.jpg" alt="Image"
                 class="img-fluid">
                {% else %}
                <img src="static/Repes.jpg" alt="Image"
                 class="img-fluid">
                {% endif %}
              </a>
              <div class="post-entry-1-contents">
                
                <h2><a href="/single_train/{{ entreno[9] }}">{{ entreno[0] }}</a></h2>
                <span class="meta d-inline-block mb-3">{{ entreno[1] }} <span class="mx-2">by</span> <a href="#">{{ entreno[2] }}</a></span>
                <p>Nivel: {{ entreno[3] }}</p>
                <p>{{ entreno[4] }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    
    
    <div class="footer site-section bg-white">
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="site-logo-footer">
              <a href="index.html">Approach</a>
            </div> 
          </div>
          <div class="col-md-8 ml-auto">
            <div class="row">
              <div class="col-md-4 ml-auto">
                <ul class="list-unstyled links">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">hello@mydomain.com</a></li>
                  <li><a href="#">+1 829 2293 382</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled links">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled links">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-4 text-center">
          <div class="col">
            <!-- <a href="#"><span class="m-2 icon-instagram"></span></a> -->
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-md-7 text-center">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made by Moncayo Workout  
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>

    

    </div>

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.0.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/jquery.sticky.js"></script>
    <script src="static/js/jquery.waypoints.min.js"></script>
    <script src="static/js/jquery.animateNumber.min.js"></script>
    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/jquery.stellar.min.js"></script>
    <script src="static/js/jquery.easing.1.3.js"></script>
    <script src="static/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/aos.js"></script>
  

    <script src="static/js/typed.js"></script>
            <script>
            var typed = new Typed('.typed-words', {
            strings: ["Business"," Startups"," Organization", " Company"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
            </script>


    <script src="static/js/main.js"></script>

  </body>

</html>

