<!doctype html>
<html lang="en">

  <head>
    <title>MoncayoWorkout &mdash; Web de Moncayo Workout</title>
    <link rel=“canonical” href=“https://moncayoworkout.sytes.net/” />
    <link rel = "icon" href = "{{ url_for('static', filename='images/moncayo.jpeg') }}" 
        type = "image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:400,900|Source+Serif+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <script src="{{ url_for('static', filename='css/style.css') }}"></script> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datepicker.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    
    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3">
              <div class="site-logo">
                <a href="#"><img src="/static/images/moncayo.jpeg" width="40"
                  height="40"></a>
              </div>
            </div>

            <div class="col-9  text-right">
              

              <span class="d-inline-block d-lg-none"><a href="#" class="text-primary site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-primary"></span></a></span>

              

              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li class="active"><a href="#" class="nav-link">Home</a></li>
                  <li><a href="/entrenamientos" class="nav-link">Entrenamientos</a></li>
                  <li><a href="/progresiones" class="nav-link">Progresiones</a></li>
                  <li><a href="/contacto" class="nav-link">About/Contacto</a></li>
                  <!--<li><a href="services.html" class="nav-link">Services</a></li> -->
                  <!--<li><a href="blog.html" class="nav-link">Blog</a></li> -->
                  <!-- <li><a href="#" class="nav-link">Contacto</a></li> -->
                </ul>
              </nav>
            </div>

            
          </div>
        </div>

      </header>

    
    <div class="site-section-cover">
      <div class="container">
        <div class="row align-items-center text-center justify-content-center">
          <div class="col-lg-7">
            <h1 class="text-white mb-4">{{ entreno[0] }}</h1>
            <p class="lead">Fecha: {{ entreno[1] }}</p>
            
          </div>
        </div>
      </div>
    </div>

    <!--  -->
    
    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-6">
            <p style="white-space: pre-wrap;">{{ entreno[8] }}</p>
          </div>
          <div class="col-md-5 ml-auto">
            <p>
              <strong class="font-weight-bold text-black">Objetivo:</strong> <br> {{ entreno[6] }} 
            </p>
            <p>
              <strong class="font-weight-bold text-black">Nivel:</strong> <br> {{ entreno[3] }} 
            </p>
            <p>
              <strong class="font-weight-bold text-black">Grupos musculares:</strong> <br> {{ entreno[5] }}
            </p>
            <p>
              <strong class="font-weight-bold text-black">Creador:</strong> <br> {{ entreno[2] }}
            </p>

          </div>
        </div>

        <div class="row text-center mt-5">
          <!-- <div class="col-md-4"><a href="#" class="btn btn-block border p-3">Previous</a></div>
          <div class="col-md-4"><a href="#" ></a></div>
          <div class="col-md-4"><a href="#" class="btn btn-block border p-3">Next</a></div>
        </div> -->
      </div>
    </div>

    

    <!-- <div class="site-section bg-white">
      
      <div class="container">
        <div class="row mb-5 text-center">
          <div class="col">
            <h2 class="text-primary font-weight-bold">Our Clients</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <img src="static/images/client_google.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="static/images/client_invision.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="static/images/client_nike.png" alt="Image" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="static/images/client_microsoft.png" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div> -->
    
    
    <div class="footer site-section bg-light">
      <!-- <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="site-logo-footer">
              <a href="index.html">Approach</a>
            </div> 
          </div>
          <div class="col-md-8 ml-auto">
            <div class="row">
              <div class="col-md-4 ml-auto">
                <ul class="list-unstyled links">
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">hello@mydomain.com</a></li>
                  <li><a href="#">+1 829 2293 382</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled links">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-unstyled links">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About Us</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-4 text-center">
          <div class="col">
            <!-- <a href="#"><span class="m-2 icon-instagram"></span></a> -->
          </div>
        </div>
        <div class="row mt-5 justify-content-center">
          <div class="col-md-7 text-center">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This site is made by Moncayo Workout  
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
        </div>
      </div>
    </div>

    

    </div>

    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.0.js') }}">
    </script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.animateNumber.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
    
  
    <script src="{{ url_for('static', filename='js/typed.js') }}"></script>
    <!-- <script src="static/js/typed.js"></script> -->
            <script>
            var typed = new Typed('.typed-words', {
            strings: ["Business"," Startups"," Organization", " Company"],
            typeSpeed: 80,
            backSpeed: 80,
            backDelay: 4000,
            startDelay: 1000,
            loop: true,
            showCursor: true
            });
            </script>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <!-- <script src="static/js/main.js"></script> -->

  </body>

</html>

